orden {
	display: 
	size
	background
	font
}

/*gral*/

body {
	margin: 0;
	overflow-x: hidden;
	font-family: Cuerpo;
	background: #eee
}

/*encabezado*/

header {
	display: flex;
	width: 100%;
	height: 20vh;
	background-color: #283355;
	align-items: center;
}
source {
	width: 120px;
}
img[alt="Logo"] {
	width: 120px;
}
.marca {
}
h1 {
	display: inline-block;
	font-family: Marca;
	font-size: 60px;
	font-weight: 400;
	color: #eee;
	margin: 0;
}
h1+p {
	display: inline-block;
	color: #eee;
	margin:	0 10px;
	white-space: pre-line;
}
/*carrusel de imagenes*/

.slider {
	position: relative;
	z-index: 0;
	width: 100%;
	height: 30vw;
	overflow: hidden;
}
.slider__container {
	display: flex;
	width: calc(100vw*6);
	animation: scroll 9s ease-in-out infinite;
}
.slider__container img {
	width: 100vw;
	flex-shrink: 0;
	object-fit: cover;
}
/*
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-300vw);
}
*/

@keyframes scroll {
  0%    { transform: translateX(0); }
  14.28% { transform: translateX(-100vw); }
  28.56% { transform: translateX(-100vw); }

  42.84% { transform: translateX(-200vw); }
  57.12% { transform: translateX(-200vw); }

  71.4% { transform: translateX(-300vw); }
  85.68% { transform: translateX(-300vw); }

  100% { transform: translateX(-300vw); }
}

.slider::after {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	content: "";
	width: 100%;
	height: 100%;
	background: linear-gradient(to bottom, #020105dd, #02010599);
}

/*gral*/

main {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
}
.indice h2, .about-us h2 {
	font-size: 40px;
	margin: 0 0 30px 0;
	text-align: center;
	padding-right: 40px
}

/*indice*/

.indice {
	position: relative;
	left: 2px;
 	flex-basis: 50%;
 	flex-grow: 1;
 	margin: 13px 0 30px 0;
}
.indice ul {
	border-right: 2px solid grey;
	padding-right: 30px;
	padding: 0 30px;
}
.indice__valla {
	box-sizing: border-box;
	width: 100%;
	border-radius: 20px;
	margin-bottom: 20px;
	overflow: hidden;
	transition: box-shadow 0.6s ease-in-out;
}
.valla--azul {
	background: #283355;
	border: 7px solid #3f58a0;
}
.valla--negro {
	background: #3c3c33;
	border: 7px solid #777766;
}
.valla--rojo {
	background: #9a2702;
	border: 7px solid #db430b;
}

.indice__valla__slider {
	position: relative;
	left: -75%;
	width: 175%;
	transition: left 0.6s ease-in-out;
}
/*contenido en movimiento de cada item*/
.valla--azul .indice__valla__slider {
	background: linear-gradient(60deg, #3f58a0 49.9%, #283355 50.1%);
}
.valla--negro .indice__valla__slider {
	background: linear-gradient(60deg, #777766 49.9%, #3c3c33 50.1%);
}
.valla--rojo .indice__valla__slider {
	background: linear-gradient(60deg, #db430b 49.9%, #9a2702 50.1%);
}

.indice__valla__slider:hover {
	left: 0;
}
.indice__valla:has(.indice__valla__slider:hover) {	
	box-shadow: 0 0 15px -4px #000;
}

/*gral de items*/
.indice__valla a {
	display: flex;
	color: #eee;
	padding: 0 15px;
	text-decoration: none;
}
.valla__texto {
	flex-basis: 50%;
}
.valla__detalle {
	color: #000;
}
.indice__valla img {
	max-width: 15%;
	height: auto;
}


.about-us {
	width: 43%;
	flex-grow: 1;
	margin: 13px 30px 30px 0;
	padding-left: 30px;
}
.about-us p {
	font-size: 20px;
}

.comunicacion {
	width: 100%;
	margin: 30px;
	border-radius: 6px;
	background: #3c3c33;
}
.comunicacion > div {
	display: inline-block;
	width: 45%;
	margin: 2%;
	vertical-align: top;

}
.comunicacion h2, .comunicacion p {
	font-size: 40px;
	margin: 0;
	color: #eee;
}
.comunicacion a{
	color: #eee;
	text-decoration: none;
	font-size: 20px;
}