@font-face {
	font-family: "Marca";
	src: url("Sugo-Pro-Display-Regular-trial.ttf") format("TrueType");
	font-weight: 400;
}

@font-face {
	font-family: "Cuerpo";
	src: url("Oswald-Regular.ttf") format("TrueType");
	font-weight: 400;
}